@import url("//use.fontawesome.com/releases/v5.0.0/css/all.css");
body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #1d1d1d;
  margin: 0;
  padding: 0;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #66FCF1;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
}

.site-wrapper {
  position: relative;
  z-index: 99;
}

.cm-site-wrapper-inner {
  padding-left: 100px;
  padding-right: 20px;
}

@-webkit-keyframes floating {
  0% {
    bottom: 30px;
  }
  50% {
    bottom: 45px;
  }
  100% {
    bottom: 30px;
  }
}

@keyframes floating {
  0% {
    bottom: 30px;
  }
  50% {
    bottom: 45px;
  }
  100% {
    bottom: 30px;
  }
}

h2.section-title {
  margin: 0 0 20px;
}

input[type="text"],
textarea {
  display: block;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  height: 44px;
  padding: 0 10px;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 26px;
  font-weight: 500;
  border: 0;
  color: #848484;
  border: 2px solid rgba(255, 255, 255, 0.4);
  background: none;
  resize: none;
  vertical-align: middle;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  color: #e0e0e0;
}

img.icon.hubsicon {
  width: 40px;
  display: inline-block;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.box p {
  color: #e0e0e0;
  font-size: x-large;
}

.ver-spacer {
  clear: both;
  width: 100%;
  height: 30px;
}

textarea.text-area {
  height: 100%;
  padding: 5px 10px;
  margin-bottom: 20px;
  min-height: 224px;
  resize: vertical;
}

.contact-list i {
  font-size: 30px;
  padding-bottom: 10px;
  display: inline-block;
  color: #66FCF1;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
}

.contact-list {
  text-align: center;
}

.contact-list a {
  text-decoration: none;
}

.contact-list a:hover {
  color: #66FCF1 !important;
}

.other-sections-wrapper section {
  margin-top: 80px;
}

.box {
  padding: 40px;
  background: #181818;
  color: #ffff;
  border-radius: 10px;
}

section .box {
  padding: 50px;
}

.custom-logo {
  margin: 30px 0 20px;
}

div#filters-container {
  margin: 0 0 25px;
}

.row.cm-author-detail {
  margin-bottom: 40px;
}

@media (max-width: 1024px) {
  .custom-logo {
    margin: 25px 0 70px;
  }
  section#footer > .box {
    margin-bottom: 80px;
  }
  .cm-site-wrapper-inner {
    padding-left: 20px;
    padding-right: 20px;
  }
  section#home .cm-section-header .arrow.smooth > a {
    margin-bottom: -50px;
  }
  .box p {
    font-size: large;
  }
}

p.copyright-content {
  margin: 0;
  line-height: 26px;
}

a.btn.responsive-menu {
  display: none;
}

@media (max-width: 479px) {
  .cm-portfolio-item {
    width: 100% !important;
  }
  .other-sections-wrapper section {
    margin-top: 40px;
  }
  section .box {
    padding: 30px 15px;
  }
  section#home .page-center {
    min-height: 350px;
    padding-top: 60px;
  }
  section#home h1 {
    font-size: 36px;
    line-height: 1.2;
  }
  section#home .cm-section-header p {
    font-size: 18px !important;
  }
  .fixed-action-btn {
    bottom: 104px;
  }
}

@media (min-width: 479px) {
  .floatRight {
    float: right;
  }
}

@media (max-width: 479px) {
  .navigation-header {
    display: none !important;
  }
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

div[class*="span-"] {
  min-height: 1px;
  padding: 0 15px;
  position: relative;
  float: left;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.span-12 {
  width: 100%;
}

.span-6 {
  width: 50%;
}

.span-4 {
  width: 33.33%;
}

.span-8 {
  width: 66.66%;
}

.span-3 {
  width: 33.33%;
}

.span-9 {
  width: 75%;
}

.clearfix:after {
  clear: both;
}

.page-center {
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
  display: block;
  width: 100%;
  max-width: 1170px;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

::-moz-selection {
  background: #45A29E;
  color: #2f2f2f;
}

::selection {
  background: #45A29E;
  color: #2f2f2f;
}

::-moz-selection {
  background: #45A29E;
  color: #2f2f2f;
}

@media (min-width: 768px) {
  .pull-right {
    float: right !important;
  }
  .pull-left {
    float: left !important;
  }
}

@media (max-width: 767px) {
  .span-12, .span-9, .span-8, .span-6, .span-4 {
    width: 100%;
    float: none;
    clear: both;
  }
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #1d1d1d;
  margin: 0;
  padding: 0;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #66FCF1;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
}

.site-wrapper {
  position: relative;
  z-index: 99;
}

.cm-site-wrapper-inner {
  padding-left: 100px;
  padding-right: 20px;
}

@-webkit-keyframes floating {
  0% {
    bottom: 30px;
  }
  50% {
    bottom: 45px;
  }
  100% {
    bottom: 30px;
  }
}

@keyframes floating {
  0% {
    bottom: 30px;
  }
  50% {
    bottom: 45px;
  }
  100% {
    bottom: 30px;
  }
}

h2.section-title {
  margin: 0 0 20px;
}

input[type="text"],
textarea {
  display: block;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  height: 44px;
  padding: 0 10px;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 26px;
  font-weight: 500;
  border: 0;
  color: #848484;
  border: 2px solid rgba(255, 255, 255, 0.4);
  background: none;
  resize: none;
  vertical-align: middle;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  color: #e0e0e0;
}

img.icon.hubsicon {
  width: 40px;
  display: inline-block;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.box p {
  color: #e0e0e0;
  font-size: x-large;
}

.ver-spacer {
  clear: both;
  width: 100%;
  height: 30px;
}

textarea.text-area {
  height: 100%;
  padding: 5px 10px;
  margin-bottom: 20px;
  min-height: 224px;
  resize: vertical;
}

.contact-list i {
  font-size: 30px;
  padding-bottom: 10px;
  display: inline-block;
  color: #66FCF1;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
}

.contact-list {
  text-align: center;
}

.contact-list a {
  text-decoration: none;
}

.contact-list a:hover {
  color: #66FCF1 !important;
}

.other-sections-wrapper section {
  margin-top: 80px;
}

.box {
  padding: 40px;
  background: #181818;
  color: #ffff;
  border-radius: 10px;
}

section .box {
  padding: 50px;
}

.custom-logo {
  margin: 30px 0 20px;
}

div#filters-container {
  margin: 0 0 25px;
}

.row.cm-author-detail {
  margin-bottom: 40px;
}

@media (max-width: 1024px) {
  .custom-logo {
    margin: 25px 0 70px;
  }
  section#footer > .box {
    margin-bottom: 80px;
  }
  .cm-site-wrapper-inner {
    padding-left: 20px;
    padding-right: 20px;
  }
  section#home .cm-section-header .arrow.smooth > a {
    margin-bottom: -50px;
  }
  .box p {
    font-size: large;
  }
}

p.copyright-content {
  margin: 0;
  line-height: 26px;
}

a.btn.responsive-menu {
  display: none;
}

@media (max-width: 479px) {
  .cm-portfolio-item {
    width: 100% !important;
  }
  .other-sections-wrapper section {
    margin-top: 40px;
  }
  section .box {
    padding: 30px 15px;
  }
  section#home .page-center {
    min-height: 350px;
    padding-top: 60px;
  }
  section#home h1 {
    font-size: 36px;
    line-height: 1.2;
  }
  section#home .cm-section-header p {
    font-size: 18px !important;
  }
  .fixed-action-btn {
    bottom: 104px;
  }
}

@media (min-width: 479px) {
  .floatRight {
    float: right;
  }
}

@media (max-width: 479px) {
  .navigation-header {
    display: none !important;
  }
}

.btn {
  border-radius: 4px;
  padding: 10px, 10px;
  background-color: #66fcf1;
  color: #1d1d1d;
  font-weight: bold;
  font-size: 1rem;
}

.btn:hover {
  cursor: pointer;
  border: 2px solid #66FCF1;
  color: #66FCF1 !important;
}

ul.nav.navbar-nav {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

ul.nav.navbar-nav span {
  display: none;
}

ul.nav.navbar-nav li i {
  font-size: 28px;
}

.cm-navigation-content ul li a {
  position: relative;
  display: block;
  line-height: 20px;
  padding: 19px 0 13px 0;
  color: #686a6b;
}

.cm-navigation-content ul li a:hover {
  color: #66FCF1;
}

.cm-navigation {
  width: 80px;
  max-width: 80px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  border: 0;
  border-radius: 0;
  text-align: center;
  z-index: 10000;
  background: #181818;
}

.cm-navigation-content ul li a:after, .cm-navigation-content ul li a:before {
  position: absolute;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  visibility: hidden;
  opacity: 0;
  z-index: 1000000;
  pointer-events: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
  content: '';
}

.cm-navigation-content ul li a:before {
  content: '';
  position: absolute;
  background: transparent;
  z-index: 1000001;
  left: 100%;
  bottom: 50%;
  border: 5px solid transparent;
  margin-left: 0px;
  margin-bottom: -4px;
  border-right-color: #66FCF1;
}

.cm-navigation-content ul li a:hover:before {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

.cm-navigation-content ul li a:after {
  content: attr(data-hint);
  line-height: 12px;
  white-space: nowrap;
  left: 100%;
  bottom: 50%;
  font-size: 12px;
  padding: 13px 17px;
  font-weight: 800;
  text-transform: uppercase;
  color: #252525;
  margin-bottom: -19px;
  margin-left: 10px;
  background: #66FCF1;
}

.cm-navigation-content ul li a:hover:after {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

@media (max-width: 1024px) {
  .cm-navigation {
    width: 100%;
    max-width: 100%;
    height: 80px;
    bottom: 0;
    top: auto;
  }
  ul.nav.navbar-nav li {
    display: inline-block;
    width: auto;
    padding: 10px 15px;
  }
  .cm-navigation-inner > div {
    display: inline-block;
  }
  .navigation-header {
    float: left;
    padding: 0 20px;
  }
  .cm-navigation-content ul li a {
    padding: 15px 0;
  }
  .cm-navigation-content ul li a:before {
    content: '';
    position: absolute;
    background: transparent;
    z-index: 1000001;
    left: 100%;
    bottom: 50%;
    border: 5px solid transparent;
    margin-left: -28px;
    margin-bottom: 14px;
    border-top-color: #66FCF1;
  }
  .cm-navigation-content ul li a:after {
    content: attr(data-hint);
    line-height: 12px;
    white-space: nowrap;
    left: 100%;
    bottom: 50%;
    font-size: 12px;
    padding: 13px 17px;
    font-weight: 800;
    text-transform: uppercase;
    color: #252525;
    margin-bottom: -19px;
    margin-left: -58px;
    margin-bottom: 23px;
    background: #66FCF1;
  }
}

.modal-sandbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
}

.btn.btn-aqua a {
  color: #252525 !important;
}

/* Popup box */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  background: black;
  background: rgba(0, 0, 0, 0.8);
  overflow: auto;
}

/* Popup header */
.modal-header {
  padding: 20px 40px;
  background: #333;
  color: white;
}

/* Popup body */
.modal-body {
  background: #181818;
  padding: 60px 40px;
  color: #ffff;
}

.modal-body img {
  width: 40%;
  float: right;
}

@media (max-width: 479px) {
  .modal-body img {
    width: auto;
  }
  .close-modal {
    position: absolute;
    font-size: x-large;
    right: 6px;
    top: 34px;
    text-align: right;
    cursor: pointer;
    color: #66FCF1;
  }
}

/* Close Button */
@media (min-width: 480px) {
  .close-modal {
    text-align: right;
    cursor: pointer;
    color: #66FCF1;
    position: absolute;
    font-size: xx-large;
    right: 37px;
    top: 30px;
  }
}

.modal h1,
.modal h2,
.modal h3,
.modal h4 {
  margin-top: 13px;
}

#sorting-row {
  padding-top: 0px;
}

@media only screen and (max-width: 992px) {
  #sorting-row {
    padding-top: 46px;
  }
}

.lazyload {
  opacity: 0;
}

.lazyloading {
  -webkit-transition: 600ms opacity;
  transition: 600ms opacity;
  background: #f7f7f7 url(https://afarkas.github.io/lazysizes/assets/imgs/loader.gif) no-repeat center;
  min-height: 60px;
}

#Container .mix {
  display: none;
}

.project-cards-container {
  -webkit-backface-visibility: hidden;
}

.project-cards-container .mix {
  display: inline-block;
}

.card-content {
  background-color: black;
}

.filter {
  background-color: #66fcf1;
  color: black;
  font-weight: bolder;
}

.card-image .card-badge {
  position: absolute;
  top: -5px;
  right: -24px;
  width: 0;
  height: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-left: 36px solid transparent;
  border-right: 36px solid transparent;
}

.card-image .card-badge.new {
  border-bottom: 36px solid orange;
}

.card-image .card-badge.certified {
  border-bottom: 36px solid #00c853;
}

.card-image .card-badge.fav {
  border-bottom: 36px solid #f44337;
}

.card-image .card-badge .material-icons {
  color: #fff;
  position: absolute;
  right: -12px;
  top: 9px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.card-image {
  background-color: #555;
}

.card-image img {
  opacity: 10;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.card-image:hover img {
  opacity: 0.5;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.card:hover {
  -webkit-box-shadow: 0 16px 24px 2px rgba(102, 252, 241, 0.14), 0 6px 30px 5px rgba(102, 252, 241, 0.12), 0 8px 10px -7px rgba(102, 252, 241, 0.2);
          box-shadow: 0 16px 24px 2px rgba(102, 252, 241, 0.14), 0 6px 30px 5px rgba(102, 252, 241, 0.12), 0 8px 10px -7px rgba(102, 252, 241, 0.2);
}

.card .card-content .card-title {
  text-align: center;
}

.card_icons {
  text-align: center;
}

[data-icon] {
  margin: 4px;
}

section#home h1 {
  color: #ffff;
  font-size: 40px;
  text-align: center;
  margin: 0px;
}

section#home .page-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 400px;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  text-align: center;
  position: relative;
}

section#home .cm-section-header {
  text-align: center;
  width: 100%;
  padding-right: 10px;
}

section#home .cm-section-header p {
  font-style: italic;
  color: #fff;
  font-size: 20px;
  margin: 0 0 10px;
  padding-right: 10px;
}

section#home .cm-section-header .arrow.smooth > a {
  position: absolute;
  visibility: visible;
  z-index: 9;
  left: 50%;
  font-size: 30px;
  margin-left: -15px;
  -webkit-animation: floating 2s infinite linear;
  -moz-animation: floating 2s infinite linear;
  -ms-animation: floating 2s infinite linear;
  -o-animation: floating 2s infinite linear;
  color: #fff;
  bottom: 10px;
  font-weight: normal;
}

section#home .cm-section-header .arrow.smooth > a i {
  font-weight: 900;
}

section#footer > .box {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.cm-portfolio-item {
  width: calc(33.33% - 10px);
  margin-bottom: 15px;
}

.cm-portfolio-item a:after {
  content: attr(data-caption);
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cm-portfolio-item a:hover:after {
  opacity: 1;
}

.cm-portfolio-listing-wrapper {
  clear: both;
  width: 100%;
}

.cm-portfolio-listing-wrapper {
  clear: both;
  width: 100%;
}

.service-icon {
  float: left;
  margin-right: 20px;
}

.service-des {
  overflow: hidden;
}

.service-icon > i {
  color: #66fcf1;
  line-height: 1;
  font-size: 40px;
  text-transform: uppercase;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
}

.service-des h5 {
  font-size: x-large;
  line-height: 22px;
  margin: 0 0 15px;
  padding: 12px 20px;
}

.service-listing > div {
  margin-bottom: 30px;
}

.cm-portfolio-item a {
  display: block;
}

.social {
  padding: 0;
  margin-bottom: -6px !important;
  font-size: 0;
  line-height: 0;
}

.social li {
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 6px;
  line-height: 26px;
}

.social li a {
  display: table;
  text-decoration: none;
}

.social li a i {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  color: #aaa;
  background: none;
  border: 2px solid #aaa;
  width: 30px;
  height: 30px !important;
  line-height: 1;
  font-size: 12px;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
}

.social a:hover i {
  color: #FFF;
}

.social .fa-twitter {
  border-color: #70c2e9;
  color: #70c2e9;
}

.social a:hover .fa-twitter {
  background-color: #70c2e9;
}

.social .fa-facebook-f {
  border-color: #677fb5;
  color: #677fb5;
}

.social a:hover .fa-facebook-f {
  background-color: #677fb5;
}

.social .fa-pinterest {
  border-color: #d8545d;
  color: #d8545d;
}

.social a:hover .fa-pinterest {
  background-color: #d8545d;
}

.social .fa-instagram {
  border-color: #b99682;
  color: #b99682;
}

.social a:hover .fa-instagram {
  background-color: #b99682;
}
/*# sourceMappingURL=main.css.map */