.btn {
  border-radius: 4px;
  //font-family: Roboto;
  padding: 10px, 10px;
  background-color: #66fcf1;
  color: #1d1d1d;
  font-weight: bold;
  font-size: 1rem;
}
.btn:hover {
  cursor: pointer;
  border: 2px solid $primary;
  color: $primary !important;
}
