ul.nav.navbar-nav {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

ul.nav.navbar-nav span {
  display: none;
}

ul.nav.navbar-nav li i {
  font-size: 28px;
}

.cm-navigation-content ul li a {
  position: relative;
  display: block;
  line-height: 20px;
  padding: 19px 0 13px 0;
  color: #686a6b;
}

.cm-navigation-content ul li a:hover {
  color: #66FCF1;
}
.cm-navigation {
  width: 80px;
  max-width: 80px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  border: 0;
  border-radius: 0;
  text-align: center;
  z-index: 10000;
  background: #181818;
}
.cm-navigation-content ul li a:after,.cm-navigation-content ul li a:before {
  position: absolute;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  visibility: hidden;
  opacity: 0;
  z-index: 1000000;
  pointer-events: none;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  transition-delay: 0ms;
  content: '';
}

.cm-navigation-content ul li a:before {
  content: '';
  position: absolute;
  background: transparent;
  z-index: 1000001;
  left: 100%;
  bottom: 50%;
  border: 5px solid transparent;
  margin-left: 0px;
  margin-bottom: -4px;
  border-right-color: #66FCF1;
}

.cm-navigation-content ul li a:hover:before {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  transition-delay: 100ms;
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  transform: translateX(8px);
}

.cm-navigation-content ul li a:after {
  content: attr(data-hint);
  line-height: 12px;
  white-space: nowrap;
  left: 100%;
  bottom: 50%;
  font-size: 12px;
  padding: 13px 17px;
  font-weight: 800;
  text-transform: uppercase;
  color: #252525;
  margin-bottom: -19px;
  margin-left: 10px;
  background: #66FCF1;
}

.cm-navigation-content ul li a:hover:after {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  transition-delay: 100ms;
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  transform: translateX(8px);
}