$primary:#66FCF1 !default;
$button:#4db0c6 !default;
$main-backgound:#1d1d1d !default;
$background:#333 !default;
$text-area:#848484 !default;
$box-background:#181818 !default;
$h1-text-color:#ffff !default;
$p-text-color:#e0e0e0 !default;